<h1>Listing products</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Stock quantity</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td><%= product.stock_quantity %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      
    <% end %>
  </tbody>
</table>

<%= link_to 'New Product', new_product_path %>


<section>
  <p>Average price of a product: <%= @average %></p>
  <p>Maximum price of a product: <%= @maximum %></p>
  <p>Total number of unique products: <%= @distinct %></p>
  <p>Sum of all stock quantity: <%= @sum_stock_quantity %></p>
  
  
</section>

<section>
  <% (1..100).each do |i| %>
    <p><%= "chunky bacon" %></p>
  <% end %>
</section>

<br>


